.comments {
  padding: 5px;
  margin-top: 10px;
  font-size: 1rem;
  align-items: center;
  justify-content: center;

}
.comment-box {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

.heading {
  text-align: center;
  color: crimson;
}
.input {
  width: "80%";
  height: 5vh;
}
.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.postList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  grid-row-gap: 2rem;
  background-color: rgb(255, 249, 248);
  margin-top: 2rem; /* Optional margin for additional space */
}

h3 {
  color: blue;
}

.postCard {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.postCard a {
  text-decoration: none;
  color: inherit;
}

.postCard h3 {
  margin-bottom: 0.5rem;
}

.postCard p {
  font-size: 0.9rem;
  color: #2b1d1d;
}

.postCard {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.postCard a {
  text-decoration: none;
  color: inherit;
}

.postCard h3 {
  margin-bottom: 0.5rem;
}

.postCard Link {
  font-size: 0.9rem;
  color: #666;
}
Link {
  text-decoration: none;
  list-style: none;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

a {
  margin: 0 0.5rem;
  color: #830808;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: rgb(255, 216, 209);
}

.current-page {
  margin: 0 0.5rem;
  font-weight: bold;
}

.ellipsis {
  margin: 0 0.5rem;
}

.form {
  width: 400px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2 px black;
  margin-bottom: 10px;
  font-size: 16px;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #3c3c3c;
}

.form div {
  margin-bottom: 10px;
}

.form button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button[type="submit"]:hover {
  background-color: #3e8e41;
}

.form div.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form div.error input,
.form div.error textarea {
  border: 1px solid red;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #008b8b;
}
.login-link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.new-blog {
  display: flex;
  justify-content: "center";
  gap: 30;
  align-items: "center";
  width: 50%;
  height: 50vh;
  background-color: aliceblue;
  flex-direction: column;
  margin-left: 25%;
  margin-top: 10%;
}
.blog-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1356d;
  font-weight: bold;
}
.form-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5;
  width: full;
  height: full;
}
.create-post {
  padding: 0.5rem 1rem;
  background-color: #f1356d;
  color: white;
  border-radius: 2;
  border-style: none;
}
